<ion-header>
  <ion-toolbar>
    <ion-title>create-employee</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="full">
    <ion-grid>
      <ion-row>
        <ion-col size-lg="12">
          
            <form [formGroup]="createForm" (ngSubmit)="createEmp()">
              <div class="container">
              <ion-grid>
                <ion-row class="ion-justify-content-start">
                  <ion-col size="6">
                    <ion-item lines="none">
                      <ion-label position="fixed">Name</ion-label>
                      <ion-input formControlName="name" type="text" [(ngModel)]="emp.name"  required></ion-input>
                    </ion-item>
                    <div>
                      <ng-container *ngIf="createForm.get('name').hasError('required') && createForm.get('name').touched">
                        Name Shouldn't be Empty
                      </ng-container>
                    </div>

                    <ion-item lines="none">
                      <ion-label position="fixed">DOB</ion-label>
                       <!-- <ion-datetime  formControlName="dob" ></ion-datetime> -->
                       <ion-input formControlName="dob"  [(ngModel)]="emp.dob" type="date"></ion-input>
                    </ion-item> 
                
                    <ion-item lines="none">
                      <ion-label position="fixed">NRC</ion-label>
                      <ion-input formControlName="nrc" type="text"  [(ngModel)]="emp.nrc"  required></ion-input>
                    </ion-item>
                  </ion-col>

                  <ion-col size="6">
                    <ion-list>
                      <ion-item lines="none">
                        <ion-label position="fixed">Department Name</ion-label>
                        <ion-select formControlName="dep_name"  [(ngModel)]="emp.dep_name">
                          <ion-select-option value="Developer">Developer</ion-select-option>
                          <ion-select-option value="Designer">Designer</ion-select-option>
                          <ion-select-option value="Engineer">Engineer</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                
                    <ion-list>
                      <ion-item lines="none">
                        <ion-label position="fixed">Positon</ion-label>
                        <ion-select formControlName="position"  [(ngModel)]="emp.position">
                          <ion-select-option value="Senior">Senior</ion-select-option>
                          <ion-select-option value="Junior">Junior</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                
                    <ion-item lines="none">
                      <ion-label position="fixed">Salary</ion-label>
                      <ion-input type="number" formControlName="salary"  [(ngModel)]="emp.salary" required></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>  
            </div>      
              <ion-row>
                <ion-col>
                  <ion-button [disabled]="createForm.invalid" type="submit" color="danger" expand="block">Submit</ion-button>
                </ion-col>
              </ion-row>
            </form>          
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
